<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Bookmark Aggregator!
    </title>
    <style>
        @keyframes colorchange {
            0%   {color: lightskyblue;}
            50%  {color: lightgreen;}
            100% {color: lightskyblue;}
        }

        h1 {
            animation: colorchange 3s infinite;
            text-align:center;
            font-size:10mm;
        }
    </style>
</head>
<body>
<h1>
    Bookmark Aggregator!
</h1>

</body>
</html>